@model PatientRegisterFrom.Models.Register

<h4>Register</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="visitDate" class="control-label"></label>
                <input asp-for="visitDate" class="form-control" />
                <span asp-validation-for="visitDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="firstName" class="control-label"></label>
                <input asp-for="firstName" class="form-control" />
                <span asp-validation-for="firstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="surName" class="control-label"></label>
                <input asp-for="surName" class="form-control" />
                <span asp-validation-for="surName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bloodGroup" class="control-label"></label>
                <input asp-for="bloodGroup" class="form-control" />
                <span asp-validation-for="bloodGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bodyWeight" class="control-label"></label>
                <input asp-for="bodyWeight" class="form-control" />
                <span asp-validation-for="bodyWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="age" class="control-label"></label>
                <input asp-for="age" class="form-control" />
                <span asp-validation-for="age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="homeAddress" class="control-label"></label>
                <input asp-for="homeAddress" class="form-control" />
                <span asp-validation-for="homeAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sex" class="control-label"></label>
                <input asp-for="sex" class="form-control" />
                <span asp-validation-for="sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="workAddress" class="control-label"></label>
                <input asp-for="workAddress" class="form-control" />
                <span asp-validation-for="workAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="maritalStatus" class="control-label"></label>
                <input asp-for="maritalStatus" class="form-control" />
                <span asp-validation-for="maritalStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="kinName" class="control-label"></label>
                <input asp-for="kinName" class="form-control" />
                <span asp-validation-for="kinName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="kinPhoneNo" class="control-label"></label>
                <input asp-for="kinPhoneNo" class="form-control" />
                <span asp-validation-for="kinPhoneNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="kinAddress" class="control-label"></label>
                <input asp-for="kinAddress" class="form-control" />
                <span asp-validation-for="kinAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="disability" class="control-label"></label>
                <input asp-for="disability" class="form-control" />
                <span asp-validation-for="disability" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
